@using BasicFantasyBeyond.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<p />
<h2>Log In:</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container container-fluid">
        <div class="row bg-light my-3 border-top border-bottom">
            <div class="lead col-2 my-3">
                Email Address:
            </div>
            <div class="col-10 py-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row bg-light my-3 border-top border-bottom">
            <div class="lead col-2 my-3">
                Password:
            </div>
            <div class="col-10 py-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="row bg-light my-3 border-top border-bottom">
            <div class="lead col-2 my-3">
                Remember me?
            </div>
            <div class="col-10 pt-4">
                @Html.CheckBoxFor(m => m.RememberMe)
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <input type="submit" class="btn btn-light border rounded-0" value="Log In" />
            </div>
            <div class="col-3">
                <div class="btn btn-light border rounded-0">
                    @Html.ActionLink("Register as a new user", "Register", "", new { @class = "text-dark text-decoration-none" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



