@model BasicFantasyBeyond.Models.CharacterModels.CharacterDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Character</h2>

<div class="container container-fluid">

    <div class="row col-md-12 ">
        <div class="row col-12 bg-light border-dark border-top py-3">
            <div class="col-md-6 lead bg-light">
                Character Name:
            </div>
            <div class="col-md-6 lead ">
                @Html.DisplayFor(model => model.CharacterName, new { @class = " " })
            </div>
        </div>
    </div>

    <div class="row col-md-12 py-3">

        <div class="row col-12 bg-light border-top">
            <div class="col-md-6 lead bg-light border-bottom">
                Character Class:
            </div>
            <div class="col-md-6 lead bg-light border-bottom">
                Character Race:
            </div>
        </div>

        <div class="row col-12 bg-light py-2 mb-2 border-bottom ">
            <div class="col-md-6 lead">
                @Html.DisplayFor(model => model.CharacterClass, new { @class = "" })
            </div>
            <div class="col-md-6 lead ">
                @Html.DisplayFor(model => model.CharacterRace, new { @class = "" })
            </div>
        </div>

    </div>


    <div class="row col-12 mb-5">

        <div class=" row col-12 bg-light border-dark border-bottom py-2">

            <div class=" row col-12">

                <div class="col-4 ">
                    <div class="row col-12 lead border-bottom">
                        Strength:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterStr, new { @class = "" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Dexterity:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterDex, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Constitution:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterCon, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>

            </div>

            <div class=" row col-12">

                <div class="col-4 ">
                    <div class="row col-12 lead border-bottom">
                        Intelligence:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterInt, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Wisdom:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterWis, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Charisma:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterCha, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>

            </div>

        </div>

    </div>



    <h3>Delete this character?</h3>
    <div class="my-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class=" col-6 btn btn-dark rounded-0 border-danger">
                <input type="submit" value="Delete" class="btn btn-dark rounded-0 text-light" />
            </div>
            <p />
            <div class="col-6 btn btn-sm btn-dark rounded-0">
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn text-decoration-none text-light" })
            </div>
        }
    </div>
