@model BasicFantasyBeyond.Models.CharacterModels.CharacterDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details of Character</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterWis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterWis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterCha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterCha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterAbilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterAbilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterAttackBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterAttackBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterNotes)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Character", "Edit", new { id = Model.CharacterID }) |
    @Html.ActionLink("Back to Character List", "Index")
</p>
