@model BasicFantasyBeyond.Models.CharcterSheetModels.CharacterSheet

@{
    ViewBag.Title = "Details";
}

<h2>Details of Character</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterStr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterDex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterDex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterCon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterCon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterWis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterWis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterCha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterCha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterRace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterRace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterAbilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterAbilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterAttackBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterAttackBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterDetails.CharacterNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterDetails.CharacterNotes)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Character", "Edit", new { id = Model.CharacterDetails.CharacterID }) |
    @Html.ActionLink("Back to Character List", "Index")
</p>
