@model IEnumerable<BasicFantasyBeyond.Data.Character>

@{
    ViewBag.Title = "Characters";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Create New Character", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterRace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterClass)
        </td>
        <td>
            @Html.ActionLink("Edit Character", "Edit", new { id=item.CharacterID }) |
            @Html.ActionLink("View Character Sheet", "Details", new { id=item.CharacterID }) |
            @Html.ActionLink("Delete Character", "Delete", new { id=item.CharacterID })
        </td>
    </tr>
}

</table>
