@model IEnumerable<BasicFantasyBeyond.Models.CharacterModels.CharacterListItem>

@{
    ViewBag.Title = "Characters";
}
<p />
<h2>Your Created Characters</h2>
<p>
    @Html.ActionLink("Create New Character", "Create", "", new { @class = "btn btn-dark rounded-0" })
</p>

<table class="table">
    <tr class="bg-light">
        <th>
            Name:
        </th>
        <th>
            Level:
        </th>
        <th>
            Race:
        </th>
        <th>
            Class:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.CharacterID)
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterRace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>
            <td>
                <div class="btn-group rounded-0">
                    <button type="button" class="btn btn-light border rounded-0">
                    @Html.ActionLink("Edit Character", "Edit", new { id = item.CharacterID }, new { @class ="button btn-light"})
                    </button>
                    <button type="button" class="btn btn-light border rounded-0">
                    @Html.ActionLink("View Character Sheet", "Details", "CharacterSheet", new { id = item.CharacterID }, new { @class ="button btn-light"})
                    </button>
                    <button type="button" class="btn btn-light border rounded-0">
                    @Html.ActionLink("Delete Character", "Delete", new { id = item.CharacterID }, new { @class = "button btn-light" })
                    </button>
                </div>
            </td>
        </tr>
    }

</table>