@model BasicFantasyBeyond.Models.EquipmentModels.ItemDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Equipment</h2>

<h3>Are you sure you want to delete this?</h3>

<div class="col-12 border-top bg-dark text-light">
    <div class="lead ">Equipment:</div>
</div>


@{
    if (Model.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Weapon)
    {
        <table class="table">
            <tr class="bg-light">
                <th>
                    Name:
                </th>
                <th>
                    Damage:
                </th>
                <th>
                    Damage Type:
                </th>
                <th>
                    Notes:
                </th>
                <th></th>
            </tr>


            <tr class="small-font">
                @Html.HiddenFor(modelItem => Model.ItemID)
                <td>
                    @Html.DisplayFor(modelItem => Model.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Damage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DamageType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ItemNotes)
                </td>
            </tr>
        </table>
    }

    if (Model.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Armor ||
        Model.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Shield)
    {
        <table class="table">
            <tr class="bg-light">
                <th>
                    Name:
                </th>
                <th>
                    AC Bonus:
                </th>
                <th>
                    Armor Type:
                </th>
                <th>
                    Notes:
                </th>
                <th></th>
            </tr>


            <tr class="small-font">
                @Html.HiddenFor(modelItem => Model.ItemID)
                <td>
                    @Html.DisplayFor(modelItem => Model.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ArmorClassBonus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ArmorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ItemNotes)
                </td>
            </tr>
        </table>
    }

    if (Model.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Gear)
    {
        <table class="table">
            <tr class="bg-light">
                <th>
                    Name:
                </th>
                <th>
                    AC Bonus:
                </th>
                <th>
                    Notes:
                </th>
                <th></th>
            </tr>

            <tr class="small-font">
                @Html.HiddenFor(model => Model.ItemID)
                <td>
                    @Html.DisplayFor(model => Model.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ArmorClassBonus)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.ItemNotes)
                </td>
            </tr>
        </table>
    }
}


<h3>Delete this Item?</h3>
<div class="my-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class=" col-6 btn btn-dark rounded-0 border-danger">
            <input type="submit" value="Delete" class="btn btn-dark rounded-0 text-light" />
        </div>
        <p />
        <div class="col-6 btn btn-sm btn-dark rounded-0">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn text-decoration-none text-light" })
        </div>
    }
</div>