@model BasicFantasyBeyond.Models.CharacterSheetModels.AddCharacterItemsModel
@{
    ViewBag.Title = "AddItems";
}

<h2>AddItems</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Character Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt>
            Strength:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterStr)
        </dd>
        <dt>
            Dexterity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterDex)
        </dd>
        <dt>
            Constitution:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCon)
        </dd>
        <dt>
            Intelligence:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterInt)
        </dd>
        <dt>
            Wisdom:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterWis)
        </dd>
        <dt>
            Charisma:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCha)
        </dd>
        <dt>
            Race:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterRace)
        </dd>
        <dt>
            Class:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterClass)
        </dd>

    </dl>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Items</h4>
        <table class="table">
            @foreach (var item in Model.Items)
            {
                @Html.HiddenFor(model => item.ItemID)
                @Html.HiddenFor(model => model.CharacterID)
                <tr class="text-danger">
                    <td>
                        Add to Character?
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.Damage)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.DamageType)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.ArmorClassBonus)
                    </td>
                    <td>
                        @Html.DisplayNameFor(modelItem => item.ItemNotes)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Add", "Create", new { characterID = Model.CharacterID, itemID = item.ItemID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Damage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DamageType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNotes)
                    </td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            }
        </table>

    </div>
}
<p>
    @Html.ActionLink("Edit Character", "Edit", "Character", new { id = Model.CharacterID }, "") |
    @Html.ActionLink("Back to Character List", "Index", "Character")
</p>
