@model BasicFantasyBeyond.Models.CharacterSheetModels.AddCharacterItemsModel
@{
    ViewBag.Title = "AddItems";
}

<h2>AddItems</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Character Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt>
            Strength:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterStr)
        </dd>
        <dt>
            Dexterity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterDex)
        </dd>
        <dt>
            Constitution:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCon)
        </dd>
        <dt>
            Intelligence:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterInt)
        </dd>
        <dt>
            Wisdom:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterWis)
        </dd>
        <dt>
            Charisma:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCha)
        </dd>
        <dt>
            Race:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterRace)
        </dd>
        <dt>
            Class:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterClass)
        </dd>

    </dl>

</div>
<div>
    <h4>Items</h4>
    <table class="table">
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit Character", "Edit", "Character", new { id = Model.CharacterID }, "") |
    @Html.ActionLink("Back to Character List", "Index", "Character")
</p>
