@model BasicFantasyBeyond.Models.CharacterSheetModels.AddCharacterItemsModel
@{
    ViewBag.Title = "AddItems";
}

<p />

<div class="container container-fluid">

    <div class="row col-md-12 ">
        <div class="row col-12 bg-light border-dark border-top py-3">
            <div class="col-md-6 lead bg-light">
                Character Name:
            </div>
            <div class="col-md-6 lead ">
                @Html.DisplayFor(model => model.CharacterName, new { @class = " lead" })
            </div>
        </div>
    </div>

    <div class="row col-md-12 py-3">

        <div class="row col-12 bg-light border-top">
            <div class="col-md-6 lead bg-light border-bottom">
                Character Class:
            </div>
            <div class="col-md-6 lead bg-light border-bottom">
                Character Race:
            </div>
        </div>

        <div class="row col-12 bg-light py-2 mb-2 border-bottom ">
            <div class="col-md-6 lead">
                @Html.DisplayFor(model => model.CharacterClass, new { @class = "lead" })
            </div>
            <div class="col-md-6 lead ">
                @Html.DisplayFor(model => model.CharacterRace, new { @class = "lead" })
            </div>
        </div>

    </div>


    <div class="row col-12 mb-5">

        <div class=" row col-12 bg-light border-dark border-bottom py-2">

            <div class=" row col-12">

                <div class="col-4 ">
                    <div class="row col-12 lead border-bottom">
                        Strength:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterStr, new { @class = "lead" })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Dexterity:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterDex, new { htmlAttributes = new { @class = "lead" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Constitution:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterCon, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>

            <div class=" row col-12">

                <div class="col-4 ">
                    <div class="row col-12 lead border-bottom">
                        Intelligence:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterInt, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Wisdom:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterWis, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="col-4">
                    <div class="row col-12 lead border-bottom">
                        Charisma:
                    </div>
                    <div class="row col-12 lead">
                        @Html.DisplayFor(model => model.CharacterCha, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="mb-3">
    <h2>Add Items to @Html.DisplayFor(model => model.CharacterName)</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-12 border-top bg-dark text-light">
        <div class="lead ">Weapons:</div>
    </div>

    <table class="table">
        <tr class="bg-light">
            <th>
                Name:
            </th>
            <th>
                Damage:
            </th>
            <th>
                Damage Type:
            </th>
            <th>
                Notes:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            if (item.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Weapon)
            {

                <tr class="small-font">
                    @Html.HiddenFor(modelItem => item.ItemID)
                    @Html.HiddenFor(model => model.CharacterID)

                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Damage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DamageType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNotes)
                    </td>
                    <td>
                        <div class="">
                            <button type="button" class="btn btn-sm btn-light border rounded-0">
                                @Html.ActionLink("Add to character", "Create", new { characterID = Model.CharacterID, itemID = item.ItemID }, new { @class = "text-decoration-none text-dark" })
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>


    <div class="col-12 border-top bg-dark text-light">
        <div class="lead ">Armor:</div>
    </div>

    <table class="table">
        <tr class="bg-light">
            <th>
                Name:
            </th>
            <th>
                AC Bonus:
            </th>
            <th>
                Armor Type:
            </th>
            <th>
                Notes:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            if (item.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Armor ||
                item.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Shield)
            {

                <tr class="small-font">
                    @Html.HiddenFor(modelItem => item.ItemID)
                    @Html.HiddenFor(model => model.CharacterID)

                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArmorType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNotes)
                    </td>
                    <td>
                        <div class="">
                            <button type="button" class="btn btn-sm btn-light border rounded-0">
                                @Html.ActionLink("Add to character", "Create", new { characterID = Model.CharacterID, itemID = item.ItemID }, new { @class = "text-decoration-none text-dark" })
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>


    <div class="col-12 border-top bg-dark text-light">
        <div class="lead ">Equipment:</div>
    </div>

    <table class="table">
        <tr class="bg-light">
            <th>
                Name:
            </th>
            <th>
                AC Bonus:
            </th>
            <th>
                Notes:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            if (item.ItemType == BasicFantasyBeyond.Models.EquipmentModels.ItemType.Gear)
            {

                <tr class="small-font">
                    @Html.HiddenFor(model => item.ItemID)
                    @Html.HiddenFor(model => model.CharacterID)
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemNotes)
                    </td>
                    <td>
                        <div class="">
                            <button type="button" class="btn btn-sm btn-light border rounded-0">
                                @Html.ActionLink("Add to character", "Create", new { characterID = Model.CharacterID, itemID = item.ItemID }, new { @class = "text-decoration-none text-dark" })
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>

}
