@model BasicFantasyBeyond.Models.CharacterSheetModels.CharacterSheetModel

@{
    ViewBag.Title = "Details";
}

<h2>Details of Character</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Character Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt>
            Strength:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterStr)
        </dd>
        <dt>
            Dexterity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterDex)
        </dd>
        <dt>
            Constitution:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCon)
        </dd>
        <dt>
            Intelligence:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterInt)
        </dd>
        <dt>
            Wisdom:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterWis)
        </dd>
        <dt>
            Charisma:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterCha)
        </dd>
        <dt>
            Race:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CharacterRace)
        </dd>
        <dt>
            Class:
        </dt>
        <dd>
            @Html.DisplayFor(model=> model.CharacterClass)
        </dd>

    </dl>


    <table class="table">
        <tr>
            <td>
                Remove Item?
            </td>
            <td>
                Item Name
            </td>
            <td>
                Item Type
            </td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>@Html.HiddenFor(i => item.CharacterItemID)
                <td>
                    @Html.ActionLink("Delete","Delete",new { characterID = Model.CharacterID, characterItemID = item.CharacterItemID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Add Items", "AddItems", new { id = Model.CharacterID }) |
    @Html.ActionLink("Edit Character","Edit","Character",new { id = Model.CharacterID },"") |
    @Html.ActionLink("Back to Character List", "Index", "Character")
</p>
