@model BasicFantasyBeyond.Models.CharacterSheetModels.CharacterSheetModel

@{
    ViewBag.Title = "Details";
}
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.CharacterSheetID)
<p></p>

<h2>@Html.DisplayFor(model => model.CharacterName)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <div class="container container-fluid border border-danger">
        <div class=" row ">
            <div id="characterAbilities" class="col col-lg-4 col-md-6 col-sm-12 border border-warning">
                <div class=" row ">
                    <div class="col col-6 btn btn-secondary border border-danger">
                        <p>Strength</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterStr)
                            (@Html.DisplayFor(model => model.StrMod)
                            )
                        </p>
                    </div>
                    <div class="col-6 btn btn-secondary border border-danger">
                        <p>Dexterity</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterDex)
                            (@Html.DisplayFor(model => model.DexMod)
                            )
                        </p>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col col-6 btn btn-secondary border border-warning">
                        <p>Constitution</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterCon)
                            (@Html.DisplayFor(model => model.ConMod)
                            )
                        </p>
                    </div>
                    <div class="col col-6 btn btn-secondary border border-warning">
                        <p>Intelligence</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterInt)
                            (@Html.DisplayFor(model => model.IntMod)
                            )
                        </p>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col col-6 btn btn-secondary border border-light">
                        <p>Wisdom</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterWis)
                            (@Html.DisplayFor(model => model.WisMod)
                            )
                        </p>
                    </div>
                    <div class="col col-6 btn btn-secondary border border-light">
                        <p>Cha</p>
                        <p>
                            @Html.DisplayFor(model => model.CharacterCha)
                            (@Html.DisplayFor(model => model.ChaMod)
                            )
                        </p>
                    </div>
                </div>
            </div>
            <div id="characterStats" class="col col-lg-4 col-md-6 col-sm-12 border border-danger">
                <div class="row">
                    <div class="col col-6 border border-warning text-center">
                        <p>Speed:</p>
                        @Html.DisplayFor(model => model.CharacterSpeed)
                    </div>
                    <div class="col col-6 border border-warning text-center">
                        <p>Attack Bonus:</p>
                        @Html.DisplayFor(model => model.CharacterAttackBonus)
                    </div>
                </div>
                <div class="row">
                    <div class="col col-6 border border-warning text-center">
                        <p>Hit Points:</p>
                        @Html.DisplayFor(model => model.CharacterHP)
                    </div>
                    <div class="col col-6 border border-warning text-center">
                        <p>Armor Class:</p>
                        @Html.DisplayFor(model => model.CharacterAC)
                    </div>
                </div>
                <div class="row">
                    <div class="col col-12 border border-warning text-center">
                        <p> Special Abilities:</p>
                        <p>@Html.DisplayFor(model => model.CharacterAbilities)</p>
                    </div>
                </div>
            </div>

            <div id="characterDetails" class="col col-lg-4 col-md-6 col-sm-12 border border-warning">
                <dl class="col col-6 dl-horizontal">
                    <dt>
                        CharacterName:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CharacterName)
                    </dd>
                    <dt>
                        Race:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CharacterRace)
                    </dd>
                    <dt>
                        Class:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CharacterClass)
                    </dd>
                    <dt>
                        XP:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CharacterXP)
                    </dd>
                    <dt>
                        Level:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CharacterLevel)
                    </dd>
                </dl>

            </div>
        </div>
    </div>

    <hr />

    <table class="table">
        <tr>
            <td>
                Manage
            </td>
            <td>
                Discard Item?
            </td>
            <td>
                Item Name
            </td>
            <td>
                Item Type
            </td>
            <td>
                Damage
            </td>
            <td>
                AC bonus
            </td>
        </tr>
        @foreach (var item in Model.EquippedWeapons)
        {
            <tr>
                @Html.HiddenFor(i => item.CharacterItemID)
                <td>
                    @Html.ActionLink("Unequip", "UnEquip", new { id = item.CharacterItemID, characterID = Model.CharacterID })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { characterID = Model.CharacterID, characterItemID = item.CharacterItemID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Damage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                </td>
            </tr>
        }
    </table>

    <hr />

    <table class="table">
        <tr>
            <td> 
                Manage 
            </td>
            <td>
                Discard Item?
            </td>
            <td>
                Item Name
            </td>
            <td>
                Item Type
            </td>
            <td>
                Damage
            </td>
            <td>
                AC bonus
            </td>
        </tr>
        @foreach (var item in Model.EquippedArmor)
        {
            <tr>
                @Html.HiddenFor(i => item.CharacterItemID)
                <td>
                    @Html.ActionLink("Unequip", "UnEquip", new { model = item, characterID = Model.CharacterID })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { characterID = Model.CharacterID, characterItemID = item.CharacterItemID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Damage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                </td>
            </tr>
        }
    </table>

    <hr />

    <table class="table">
        <tr>
            <td>
                Manage
            </td>
            <td>
                Discard Item?
            </td>
            <td>
                Item Name
            </td>
            <td>
                Item Type
            </td>
            <td>
                Damage
            </td>
            <td>
                AC bonus
            </td>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                @Html.HiddenFor(i => item.CharacterItemID)
                <td>
                    @{
                        if (item.IsEquipped)
                        {
                            @Html.ActionLink("Unequip", "UnEquip", new { id = item.CharacterItemID, characterID = Model.CharacterID })
                        }
                        if (!item.IsEquipped)
                        {
                            @Html.ActionLink("Equip", "Equip", new { id = item.CharacterItemID, characterID = Model.CharacterID })
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { characterID = Model.CharacterID, characterItemID = item.CharacterItemID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Damage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArmorClassBonus)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Add Items", "AddItems", new { id = Model.CharacterID }) |
    @Html.ActionLink("Edit Character", "Edit", "Character", new { id = Model.CharacterID }, "") |
    @Html.ActionLink("Back to Character List", "Index", "Character")
</p>
