@model IEnumerable<BasicFantasyBeyond.Data.Equipment>

@{
    ViewBag.Title = "Equipment";
}

<h2>Equipment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEquipped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Damage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DamageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmorClassBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEquipped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Damage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DamageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorClassBonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
